    <div class="container">
      <footer>Created by Project Team</footer>
      <a href='https://www.ebates.com/r/HAOTEN4?eeid=28585' target='_blank' rel='nofollow'><img src='https://www.ebates.com/images/referral/2017/ebates-referral-button.png' alt='Ebates Coupons and Cash Back' height='31' width='171' border='0'/></a>
    </div>
      <!-- Import JQuery -->
      <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
      <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>-->

      <script type="text/javascript">  
      $(document).ready(function(){
      $('select').select();
      });
      $(document).ready(function(){
      $('.materialboxed').materialbox();
      });

      </script>
 
    </body>
</html>