    <div class="container">
      <footer>Created by Project Team</footer>
    </div>
      <!-- Import JQuery -->
      <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <!--JavaScript at end of body for optimized loading-->
      <!--<script type="text/javascript" src="../Public/js/materialize.min.js"></script>-->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>

      <script type="text/javascript">  
      $(document).ready(function(){
      $('select').select();
      });
      $(document).ready(function(){
      $('.materialboxed').materialbox();
      });

      </script>
 
    </body>
</html>