<% include ../partials/header %>

<div class = "container more-margin">
    <h1>You are creating a comment to: <%= site.name %></h1>
    <div class= "row">
        <form action="/sites/<%= site._id %>/comments" method="POST" id = "new">
            
            <div class="row">
                <div class="input-field col s12">
                  <input placeholder="comment" name="comment[text]" type="text" class="validate" form="new" id="text">
                  <label for="text">Text</label>
                </div> 
            </div>
             
             <div class = "row">
                <div class="input-field col s12">
                    <input disabled placeholder="author" name="comment[author]" type="text" class="validate" form="new" id="name disabled" value="<%= currentUser.username %>">
                    <label for="author">Author</label>
                </div>
            </div>
            
            <button class = "waves-effect waves-light btn">Sumbit!</button>
            
        </form>
    </div>
</div>

<% include ../partials/footer %>