
<div class="container">
    <p><% include partials/header %></p>
    <h1>This page is under development!</h1>
    <h2>Please visit this page after.</h2>
    
    <a href="/" class="btn">Go back to home!</a>
    
    <p><% include partials/footer %></p>
</div>