<% include partials/header %>

<div class="container">
    <h1>Fishing Sites</h1>

    <div class="row">
        <% Sites.forEach(function(site){ %>
            <% if(((value === "NYC") && (site.location === "NYC")) || ((value === "LA") && (site.location === "LA"))){ %>
                <div class="col md3 sm6">
                    <img class="materialboxed" data-caption="<%= site.name %>" width="250" src="<%= site.url %>">
                    <a href="/sites/<%= site._id %>" class="btn">More Info</a>
                </div>
            <% } %>
        <% }); %>
    </div>
    
    <div class="row">
        <p><a href="/sites/new" class="btn">New</a></p>
    </div>

</div> 

<% include partials/footer %>